h1{
	color: #F08F54;
}

h2{
	padding: 0;
	margin: 0;
	color: #333;	
}

header{
/*background-color: #faf2f0;*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	
}

.logo{
	max-width: 500px;
	max-height: auto;
}
.library_name{
	font-family: 'Open Sans Condensed', sans-serif;

}
.hours{
	font-weight: 300;
	margin-top: -10px;
}
.libraries{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.floor{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.floor_indiv{
	border-radius: 25px;
    border: 2px solid #F45445;
/*    padding: 30px; 
    width: 200px;
    height: 150px; */
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 2px;
}

.floor_number{
	font-size: 1.5em;
	padding: 0px;
	margin: 0px;
}
#range{
	text-align: center;
}


#weight{
        width: 200px;
       }
       input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
    padding: 10px;
}
#weight1{
        width: 200px;
       }
       input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
    padding: 10px;
}
#weight2{
        width: 200px;
       }
       input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
    padding: 10px;
}
#weight3{
        width: 200px;
       }
       input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
    padding: 10px;
}
#weight4{
        width: 200px;
       }
       input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
    padding: 10px;
}
#weight6{
        width: 200px;
       }
       input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
    padding: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F2CF63;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F2CF63;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    
    background: transparent;

    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F2CF63;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}