<html>
    <head>
    	<title>StudySpace: Study Smarter</title>
    </head>
    <body>

    	<div>

    		<h1> Study Space: Study Smarter
    		</h1>

    	</div>

    	<div>
    		<h2>
    			Marston Science Library
    		</h2>
    		<ul>
				<p> Hours: 8:00 AM - 2:00 AM </p>
				<p> Current Capacity: 75% full</p>
				<p>	Rate the Capacity</p>
    		</ul>
    	</div>

    	<div>
    		<h2>
    			Library West
    		</h2>
    		<ul>
				<p> Hours: 24 Hours </p>
				<p>Current Capacity: 20% full</p>
				<p>	Rate the Capacity</p>
    		</ul>
    	</div>

   	{% for post in posts %}
    	<div>
    		<h2>
    			{{post.title}}
    		</h2>
    		<ul>
				<p> Hours: {{post.published_date}} </p>
				<p>Current Capacity: {{post.published_time}}</p>
				<p>	Rate the Capacity</p>
    		</ul>
    	</div>
    {% endfor %}


    	<div>
    		<h2>
    		<a href="https://ufl.evanced.info/dibs">
				Call D!BS on a Study Area
			</a>
    		</h2>
       	</div>

    </body>
</html>