<html>
    <head>
    	<title>StudySpace: Study Smarter</title>
    </head>
    <body>

    	<div>
    		<h1> 
                    Study Space: Study Smarter
    		</h1>
    	</div>

    {% for library in libraries %}
    	<div>
                {% if library.title == 'Marston Science Library (Mon-Thurs)' %}
                    {% if library.dayofweek == 'Monday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}

                    {% elif library.dayofweek == 'Tuesday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}


                    {% elif library.dayofweek == 'Wednesday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}

                    {% elif library.dayofweek == 'Thursday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}

                    {% endif %}

                {% elif library.title == 'Marston Science Library (Fri)' %}
                    {% if library.dayofweek == 'Friday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}

                    {% endif %}

                {% elif library.title == 'Marston Science Library (Sat)' %}
                    {% if library.dayofweek == 'Saturday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}

                    {% endif %}

                {% elif library.title == 'Marston Science Library (Sun)' %}
                    {% if library.dayofweek == 'Sunday' %}
                        <h2><p> Marston Science Library </p></h2>
                        <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}


                    {% endif %}
                    
                {% elif library.title == 'Library West' %}
                    <h2><p>{{library.title}}</p></h2>
                    <p> {{library.hours}} </p>

                                {% for floor in floors %}
                                    {% if floor.libname == 'Marston Science Library' %}
                                        <p>Floor {{floor.floor_number}}</p>
                                        <p>Current Capacity: {{floor.current_capacity}}</p>
                                        {% load mytags %}
                                        <p>Rated Capacity: {{floor.rated_capacity}} 
                                            <!-- {{floor.changerating0}} -->
                                        </p>
                                            <!-- {{floor.changethecapacity}} -->
                                    {% endif %}
                                {% endfor %}


                {% endif %}
    		<ul>

    		</ul>
    	</div>
    {% endfor %}

    	<div>
    		<h2>
    		<a href="https://ufl.evanced.info/dibs">
				Call D!BS on a Study Area
			</a>
    		</h2>
       	</div>
    </body>
</html>